@import "@app/main.scss";

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: $yellow;
  transition: 0.6s;
}

::selection {
  background: $YellowColor;
  color: $BlackColor;
}