$BlackColor: #0c0c0c;
$YellowColor: #fdcf49;
$Color1: #d0b9ef;
$Color2: #ef6680;
$Color3: #799e5b;
$Color4: #58c09b;
$Color5: #eebe90;
$LightBgColor: #111111;
$headingColor: #eeeeee;
$textcolor: #999999;
$linkTextColor: #222;

$yellow: #fdcf49;
$forground: #212529;
$background: #181818;
$header-background: #000000e6;
$DarkFont: #666;